################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/JavaToCs.VC.VC.opendb
/.vs/JavaInvokeCs/v15/Browse.VC.opendb
