<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--127.0.0.1连接地址为本地，既打包所用，172.16.11.19为开发用数据库，制作安装包时候需要删除。-->
    <!--<add name="postgres" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=abc123;Database=CNPDB_YYPDWZHHFX_JGGL_20140901C;Timeout=120;CommandTimeout = 180;" />-->
    <!--<add name="postgres" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=abc123;Database=CNPDB_YYPDWZHHFX_JGGL;Timeout=120;CommandTimeout = 180;" />-->
    <!--<add name="postgres" connectionString="Server=127.0.0.1;Port=5023;User Id=postgres;Password=abc123;Database=CNPDB_DWFX2.3;Timeout=120;CommandTimeout = 180;" />-->
    <add name="postgres" connectionString="Server=127.0.0.1;Port=50233;
         User Id=postgres;Password=abc123;Database=CNPDB_DWFX2.32;Timeout=120;CommandTimeout = 180;" />
    <!--<add name="postgres" connectionString="Server=172.16.15.45;Port=5432;
    User Id=tdqs_dwfx2;Password=dwfx2.0;Database=CNPDB_YYPDWZHHFX_IDATA;Timeout=120;CommandTimeout = 180;" />-->

    <!--<add name="postgres" connectionString="Server=172.16.11.19;Port=5432;User Id=tdqs_dwfx2;Password=dwfx2.0;Database=CNPDB_YYPDWZHHFX_IDATA;Timeout=120;CommandTimeout = 180;" />-->
    <!--<add name="postgres" connectionString="Server=172.16.11.200;Port=5049;User Id=postgres;Password=abc123;Database=CNPDB_DWFX2.3_JGGL;Timeout=120;CommandTimeout = 180;" />-->
  </connectionStrings>
</configuration>